{% extends "layout.html" %}
{% block content %}
<style>
  .container{
    color: white;
    background-color: #333;
    border: 0px;
    border-radius: 3px;
    width: 700px;
    height: 300px;
  }.btn{
    background: purple;
  }

  .card{
    margin-bottom:20px;
  }
  .
</style>
<h4>Login</h4>
<form method="post" action="/admin">
    <div class="form-group">
      <label for="un">Username</label>
      <input type="text" name="un" class="form-control" id="un" aria-describedby="emailHelp">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="pw">Password</label>
      <input type="password" name="pw" class="form-control" id="pw">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}