{% extends "layout.html" %}
{% block content %}
<style>
  h4 {
    display: inline-block;
  }

  #map {
    min-height: 400px;
    position: relative;
  }


  .card{
    margin-bottom:10px;
  }

  .dot {
    height: 10px;
    width: 10px;
    margin: -5px -5px;
    border-radius: 100px;
    border: black solid 1px;
    position: absolute;
    background-color: green;
  }

  select{
    display:block;
    margin-bottom:5px;
    border-radius:2px;
  }

</style>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 style="margin:10px;">Welcome</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div id="top-card" class="card">
        <h3 class="card-header">Find a hotel for your next stay</h3>
        <div class="card-body">
          <div id="map" class='jumbotron jumbotron-fluid'></div>
          <!-- <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <button id="getLocations" class="btn btn-primary">Find Locations</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div id="top-card" class="card">
        <h3 class="card-header">Book a room</h3>
        <div class="card-body">
          <div id="outPopUp">
            <form method="post" action="/search">

              <select name="hotelname" id="hotelname">
                <option value='Marriot'>Marriot</option>
                <option value='Best Western'>Best Western</option>
                <option value='Hilton'>Hilton</option>

              </select>
              <select name="hoteltype" id="hoteltype">
                <option value='Cheap'>Cheap</option>
                <option value='Expensive'>Expensive</option>

              </select>
              <select name="cost" id="cost">
                <option value='<50'><50</option>
                <option value='51-100'>51-100</option>             
                <option value='101-200'>101-200</option>             
                <option value='201-500'>201-500</option>             
                <option value='500+'>500+</option>             

              </select>
              <br />
              <input type="submit">
            </form>
          </div>
        </div>
      </div>

      <!-- table!!!!!!!!!!!!!!!!!!!!1 -->

<div class="card" >
  <div class="card-body">
<table class="table">
  <thead>
    <tr>
      <th scope="col">RoomNum</th>
      <th scope="col">Location</th>
      <th scope="col">Type</th>
      <th scope="col">Price</th>
      <th scope="col">Option</th>
    </tr>
  </thead>
  <tbody>
    {% if session['result'] %}
    {% for roomid,name,type,price in session['result'] %}
    <tr>
        <td>{{roomid}}</td>
        <td>{{name}}</td>
        <td>{{type}}</td>
        <td>{{price}}</td>
        <td>
            <button type="button" id={{roomid}} class="btn btn-sm btn-success book">Book</button>
        </td>
        <td>
            <button type="button" id={{roomid}} class="btn btn-sm btn-danger cancel">Cancel</button>
        </td>
    {% endfor %}
    {% else %}
    <tr>
      <th scope="row">
        Empty
      </th>
    </tr>
    {% endif %}
  </tbody>
</table>
  </div>
</div>

    </div>
  </div>
</div>





<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dateModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="dateModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dateModalTitle">Set a Date</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="date" id="startDate" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" value="click" onclick="passValues()" data-dismiss="modal">Submit
          The Start Date</button>
      </div>
    </div>
  </div>
</div>

<script>
  function passValues() {
    var startDate = document.getElementById("startDate").value;
    localStorage.setItem("startDate", startDate);
    getMyStart();
  }

  {% if not session["date"] %}
  $('#dateModal').modal('show');
   {% endif %}


  const map = document.getElementById("map")
  renderMap([])

  const locations = document.getElementById("locations")
  const btn = document.getElementById("getLocations")
  btn.addEventListener("click", getAllLocations)

  function renderMap(data) {
    const mapstyle = window.getComputedStyle(map);
    let width = mapstyle.getPropertyValue("width");
    let height = mapstyle.getPropertyValue("height");
    width = parseInt(width.slice(0, -2))
    height = parseInt(height.slice(0, -2))

    removeDots()

    for (var d of data) {
      var [chain, hotel, i, j] = d;
      var node = document.createElement("a");
      node.className = "dot";
      node.href = "/hotel/" + chain + "/" + hotel;
      node.title = chain + " - " + hotel + " @ location: (" + i + ", " + j + ")";
      var i_ = parseInt(i) * .01;
      var j_ = parseInt(j) * .01;
      node.style.top = parseInt(i_ * height).toString() + "px";
      node.style.left = parseInt(j_ * width).toString() + "px";
      map.appendChild(node);
    }
  }


  function removeDots() {
    let dots = document.querySelectorAll(".dot")
    for (var dot of dots) {
      dot.remove();
    }
  }

  function searchQuery() {
    var http = new XMLHttpRequest();
    var url = '/search';
    var params = buildQuery();
    http.open('POST', url, true);

    //Send the proper header information along with the request
    http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

    http.onreadystatechange = function () { //Call a function when the state changes.
      if (http.readyState == 4 && http.status == 200) {
        alert(http.responseText);
      }
    }
    http.send(params);
  }

  function getAllLocations() {
    const Http = new XMLHttpRequest();
    const url = '/getAllLocations';
    Http.open("GET", url);
    Http.send();

    Http.onreadystatechange = (e) => {
      var text = Http.responseText;
      console.log(text);
      console.log(JSON.parse(text));
      data = JSON.parse(text);
      //for testing the scaling
      // data.push([0,0,0,0]);
      // data.push([100,100,100,100]);
      renderMap(data)
    }
  }

  var btns = document.querySelectorAll(".book") 
  var btns2 = document.querySelectorAll(".cancel") 
  var roomid;

  for(var b of btns){
    b.addEventListener("click", book)
  }


  for(var c of btns2){
    c.addEventListener("click", cancel)
  }

  function book(event){
    roomid = event.target.getAttribute("id");

    var http = new XMLHttpRequest();
    var url = '/add_room_to_session';
    var params = 'roomid='+roomid;
    http.open('POST', url, true);
    
    //Send the proper header information along with the request
    http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    http.send(params);  
    location.href = '/add_reservation'
  }  

  function cancel(event){
    roomid = event.target.getAttribute("id");

    var http = new XMLHttpRequest();
    var url = '/add_room_to_session';
    var params = 'roomid='+roomid;
    http.open('POST', url, true);
    
    //Send the proper header information along with the request
    http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    http.send(params);  
    location.href = '/cancel_reservation'
  }
</script>
{% endblock %}