{% extends "layout.html" %}
{% block content %}
<h1>{{chain}} - {{name}}</h1>
<h2>Location - {{location}}</h2>


<!-- {{rooms}} -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Address</th>
      <th scope="col">Room#</th>
      <th scope="col">Room Type</th>
      <th scope="col">Price</th>
      <th scope="col">Option</th>
    </tr>
  </thead>
  <tbody>
    {% if rooms %}
    {% for roomid,locationid,type,price in rooms %}
    <tr>
        <td>{{location}}</td>
        <td>{{roomid}}</td>
        <td>{{type}}</td>
        <td>{{price}}</td>
        <td>
            <button type="button" id={{roomid}} class="btn btn-sm btn-success book">Book</button>
        </td>
    </tr>
    <tr>
      <form method="post" action="/cancel">
        <td>{{location}}</td>
        <td>{{roomid}}</td>
        <td>{{type}}</td>
        <td>{{price}}</td>
        <td>
            <button type="button" class="btn btn-sm btn-danger">Cancel</button>
            <hr>
            <hr>
        </td>
      </form>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <th scope="row">
        There are no rooms available for this hotel
      </th>
    </tr>
    {% endif %}
  </tbody>
</table>

<script>
  var btns = document.querySelectorAll(".book") 
  for(var b of btns){
    b.addEventListener("click", myFunc)
  }

  function myFunc(event){
    alert(event.target.getAttribute("id"));
  }

</script>
{% endblock %}