<!DOCTYPE html>
<html>
<head>
	<title> Hotel Welcome page</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
<div class="navbar">
  <a href="/">Map</a>
  <a href="/admin">Administrator Login</a>
  <div class="subnav">
    <button class="subnavbtn">Customer Login<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="/login">Customer Login</a>
      <a href="/register">Customer Register</a>
      <a href="/logout">Customer Logout</a>
    </div>
  </div>
</div>

</body>
</html>
