{% extends "layout.html" %}
{% block content %}
<style>
	.container{
    color: white;
    background-color: #333;
    border: 0px;
    border-radius: 3px;
    width: 900px;
    height: 200px;
    


  }.btn{
    background: purple;
  }
</style>
<h1>My Reservations</h1>
<h2>this page should only be visible after a user has logged in</h2>
<ol>
  <li>user should only see his/her reservations</li>
  <li>booking or canceling should only be done on search engine page or hotel page</li>
</ol>


{% endblock %}