{% extends "layout.html" %}
{% block content %}
<style>
	.container{
    color: white;
    background-color: #333;
    border: 0px;
    border-radius: 3px;
    width: 900px;
    height: 200px;
    


  }.btn{
    background: purple;
  }
</style>
<h1>Book Room - <span style="font-size:.7em;color:darkblue">{{session["user"]}}</span></h1>
<table class="table">
 <div class="card">
  <div class="card-body">
  <h3>Create Booking for Room#: {{session["roomid"]}}</h3>
    <form method="post" action="/bookroom">
      <div class="form-group">
        <label for="chckin">Check-in</label>
        <input type="number" name="chckin" class="form-control" id="chckin" placeholder="(MMDDYYY)">
      </div>
      <div class="form-group">
        <label for="chckout">Check-out</label>
        <input type="number" name="chckout" class="form-control" id="chckout" placeholder="(MMDDYYY)">
      </div>
      <button type="submit" class="btn btn-primary mb-2" id="addLoc">Book Now!</button>
    </form>
</div>
</div>
</table>
{% endblock %}